REPOINTS_API_URL=http://127.0.0.1:8000
DEVICE_CODE=RASPI-ECO-001
DEVICE_API_KEY=change-this-device-key
QR_CAMERA_INDEX=0
BOTTLE_CAMERA_INDEX=1
CLASSIFIER_MODEL_PATH=raspberry/models/bottle_classifier.onnx
MINIMUM_DETECTION_CONFIDENCE=0.80
HEADLESS=false
REQUEST_TIMEOUT_SECONDS=10
